{% extends 'compras/base.html'%}

{% block content %}

	<div class="center">
		<h4>Bienvenida</h4>
		Bienvenidos a Tu Lista, el sitio web ideal para crear tu lista de comprar perfecta con los prodoctos que has comprado en su respectiva tienda,<br> a su vez, este sitio, es muy versatil a la hora de usarlo y fácil de aprender. Permitiendo que todas las personas puedan usarla sin tener conocimiento previo sobre este. <br> Esperemos que le guste este sitio web y disfruten realizando sus listas de compras de la forma más comoda posible, sin tantas complicaciones al usarla y largo tiempos de carga.
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
{% endblock %}